#ifndef __BUTTON_SECRETS_H__
#define __BUTTON_SECRETS_H__

const char *ap_name = "name";
const char *ap_password = "password";

const char *mqtt_host = "example.com";
const int   mqtt_port = 1883;
const char *mqtt_user = "ding";
const char *mqtt_password = "s3cr3t";
const char *mqtt_topic = "ding/motion";

#endif
